{% extends 'base.html.twig' %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/accueil/css/main.css') }}" />
		<style>
	#civility_birth{
		background:rgba(160, 160, 160, 0.075);
	}

	input{
		margin-bottom: 2%;
	}

		</style>
		 {% endblock %}
{% block body %} 
</div>
<div  style="background-color:white; margin-left:25%; margin-right:25%; padding-top:-5%; padding-bottom:-150px;">
<div style="margin:auto; left:50%; right:50%; width: 75% ;margin-top:-5%;padding-top:6%;">
	<h3>Modification profil </h3>
			  {{ form_start(form, {'method': 'post', 'action': path('civility'), 'attr': {'class': 'ui form'}}) }}
			{{ form_widget(form) }}
</br>
                                        <input class="ui button" type="submit" id="_submit" value="Envoyer" />
                                    
                                    {{ form_end(form) }}

				</br>
		

			
	</div>
	</div>
			
{% endblock %}




  