<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Friends</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		{% block stylesheets_before %} {% endblock %}
		<link rel="stylesheet" type="text/css" href="{{ asset('semantic/semantic.min.css') }}">
		{# main style #}
		<link rel="stylesheet" type="text/css" href="{{ asset('main/style.css')}}">
		{# template #}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css')}}">
		<link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}" />
		{# semantic #} <!-- laisser en premier pour pas avoir de conflit avec le template (template change les valeurs) -->
		{% block stylesheets %} {% endblock %}

	</head>
	<div class="wrapper">
		{% if app.user != null %}
		<header>

		</header><!--header end-->	
		{% endif %}
    <body>
	{% block body %} {% endblock %}

    </body>
	{# template #}
    
	{% block javascripts %}
    {% endblock %}
</html>
