<div class="post-bar">
                                                                                                        <div class="post_topbar">
                                                                                                            <div class="usy-dt">
                                                                                                                <img src="images/resources/us-pic.png" alt="">
                                                                                                                    <div class="usy-name">
                                                                                                                        <h3>John Doe</h3>
                                                                                                                        <span>
                                                                                                                            <img src="images/clock.png" alt="">3 min ago</span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="ed-opts">
                                                                                                                        <a class="ed-opts-open" href="#" title="">
                                                                                                                            <i class="la la-ellipsis-v"></i>
                                                                                                                        </a>
                                                                                                                        <ul class="ed-options">
                                                                                                                            <li>
                                                                                                                                <a href="#" title="">Edit Post</a>
                                                                                                                            </li>
                                                                                                                            <li>
                                                                                                                                <a href="#" title="">Unsaved</a>
                                                                                                                            </li>
                                                                                                                            <li>
                                                                                                                                <a href="#" title="">Unbid</a>
                                                                                                                            </li>
                                                                                                                            <li>
                                                                                                                                